.home-hero-img {
	margin-top: 30px;
	max-width: 40vw;
}

.home-hero-text {
	& h3 {
		font-size: 3.5rem;
		margin-top: 25%;
		font-family: "Concert One", cursive;
	}
}

.curved-items {
	z-index: 1000;
}

.track-input {
	width: 40vw;
	height: 50px;
	text-align: center;
}

// how it works

.how-group {
	display: flex;
	align-items: center;
	justify-content: center;

	.number {
		font-size: 4rem;
		font-family: "Lilita One", cursive;
		margin-right: 2rem;
	}
}

// Tasks
.tasks-section {
	padding-bottom: 200px;
	border-radius: 150px 0 0 0;
}

.tasks {
	width: 40vw;
	margin: auto;
}

.task {
	padding: 30px;

	&:hover {
		background-color: #333;
		cursor: pointer;

		& p {
			color: #fff;
		}
	}

	// & p {
	// 	font-size: 20px;
	// 	color: white;
	// }
}

// services
.services-section {
	background-color: #eee;
	border-radius: 0 150px 0 0;
	margin-top: -150px;
}

.service {
	margin: 40px 0px;

	img {
		max-height: 25vh;
	}
}

// partners

.partners {
	background-color: $transit-primary;
	padding: 40px;
	margin-bottom: -25px;
}

// values
.values {
	background-color: #eee;
	padding: 20px;
	margin-bottom: 0px;
}

.value-container {
	display: flex;
	// align-items: baseline;
	padding-top: 50px;
	padding-bottom: 50px;

	& h3 {
		font-size: 3.5rem;
	}
}

// partners
.partner-logo {
	max-height: 100px;
}

@media screen and (max-width: 766px) {
	// HOME
	.home-hero-text {
		text-align: center;

		& h3 {
			font-size: 2.5rem;
		}
	}

	.home-hero-img {
		max-width: 80vw;
		margin-top: 50px;
	}

	.track-input {
		width: 75vw;
	}

	.tasks div:first-child {
		border-right: none;
		border-bottom: 0.5px solid #555;
	}

	// VALUE
	.t-card-wrapper {
		margin: 5vh 2vw;

		& h3 {
			font-size: 2.5vh;
			font-weight: 500;
		}

		& p {
			display: none;
		}

		& img {
			max-height: 50vh;
		}
	}

	// PARTNERS
	.partners {
		padding-bottom: 40vh;
		text-align: center;

		& img {
			display: block;
			margin: auto;
			margin-bottom: 20px;
		}
	}
}
